
.fall {
    color: red;
    font-weight: 600;
}


.raise {
    color: limegreen;
    font-weight: 600;

}

.td-price {
    font-weight: 600;
}

.headers-table {
    font-size: 20px;
}

.coin-name {
    font-weight: 500;
}

.coin-24change {
    font-weight: 600;
}
.coin-capital {
    font-weight: 600;
}