{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Binance clone</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>

{% include 'header.html' %}



{% verbatim %}

<div id="app">


    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto mt-5">
                <h3 class="mb-5">Cryptocurrencies</h3>

                <table class="table table-hover">
                    <thead>
                    <tr class="headers-table">
                        <th scope="col">#</th>
                        <th scope="col">Coin</th>
                        <th scope="col">Price</th>
                        <th scope="col">Change 24 hours</th>
                        <th scope="col">Total cap-tion</th>
                    </tr>
                    </thead>
                    <tbody>


                    <tr v-for="coin in coins" :key="coin.id">
                        <td class="align-middle">{{ coin.rank }}.</td>
                        <td class="align-middle">
                            <img :src="coin.image" class="px-2" width="50" alt="fffff"/>

                            <span class="coin-name">{{ coin.name }}</span>
                            <small class="text-muted px-2">{{ coin.symbol }}</small>
                        </td>

                        <td class="td-price" :class="{'raise': coin.state === 'raise', 'fall' : coin.state === 'fall'}">
                            ${{ coin.price }}

                        <td class="coin-24change">{{ coin.price_change_percentage_24h }} %</td>
                        <td class="coin-capital">${{ coin.market_capital }}</td>

                    </tr>

                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
{% endverbatim %}


<script>
    const {createApp} = Vue;

    const MarketApp = {
        data() {
            return {
                coin: '',
                coins: null,
            }
        },
        created() {
            const socket = new WebSocket(`ws://${window.location.host}/ws/coins/`);
            let _this = this;

            socket.onmessage = function (event) {
                _this.coins = JSON.parse(event.data)
            }
        },

    }
    createApp(MarketApp).mount('#app')

</script>


</body>
</html>